/* app global css */

.q-page {
  background-color: rgb(66, 66, 66);
}
.q-toolbar {
  background-color: rgb(58, 162, 166);
}
.q-toolbar-title {
  background-color: rgb(58, 162, 166);
  align-items: center;
  align-content: center;
}
.login-page {
  padding: 1em 2em 2em 2em;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
}
.register {
  font-weight: 400;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.btnSubmit {
  padding: .5em 2em;
  border-radius: 5px;
  border: none;
  margin: 1em auto;
  background-color: rgb(58, 162, 166);
  color: white;
}
